/* nav {
    background-color: var(--dark);
} */

.header {
    display: flex;
    align-items: center;

    margin-left: 100px;
    /* background: var(--dark); */
}

.highlight {
    color: var(--primary);
}
