.card {
    position: relative;

    border: 1px solid var(--footer);
    border-radius: 10px;
    width: 270px;
    height: 510px;

    /* transition: all 0.3s ease; */
}

.card:hover {
    transform: scale(1.01);
}
.card-content {
    padding: 0 20px 0 20px;
}

p {
    margin-bottom: 0 !important;
}

.btn {
    position: absolute;
    bottom: 2rem;
    width: 230px !important;
    left: 20px;
    /* border-radius: 0 0 10px 10px; */
}

/* .center {
    text-align: center;
} */
