.exercise-wrapper {
    margin-top: 70px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.exercises-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 3rem;
}
.exercises-container img {
    width: 250px;
    border-radius: 10px;
    margin: 9px;
}

@media (max-width: 1100px) {
    .exercises-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px) {
    .exercise-wrapper {
        flex-direction: column;
    }
    .exercises-container {
        margin-bottom: 2rem;
    }
}

@media (max-width: 800px) {
    .exercises-container {
        grid-template-columns: 1fr;
    }
    .gym-section {
        display: grid;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .exercise-wrapper {
        margin-left: 0;
        margin-right: 0;
    }

    .exercises-container {
        margin-right: 0;
    }
}
