@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");
body {
    margin: 0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: var(--light); */
    background-image: radial-gradient(
        circle,
        #070606,
        #110e10,
        #151519,
        #151b20,
        #162223
    );

    color: #cbd5e1;
    letter-spacing: 2px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

p {
    font-family: "Lato", sans-serif;
    color: var(--ternary);
    line-height: 1.2;
    /* margin-bottom: 2rem; */
}
