.break-container span {
    display: grid;
    background: var(--pure);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* padding-top: 4px; */
}
